/* Styling for the header element */
header {
    background: linear-gradient(135deg, #6e8efb, #88d3ce); // Background gradient
    color: rgb(255, 242, 0); // Text color
    padding: 20px 50px; // Padding
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Box shadow
    display: flex; // Flex container
    justify-content: space-between; // Space between flex items
    align-items: center; // Center align flex items
}

/* Styling for the h1 element inside the header */
header h1 {
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive'; // Font family
    margin: 0; // Remove margin
    font-size: 24px; // Font size
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); // Text shadow
}

/* Styling for the ul element inside the nav */
nav ul {
    list-style: none; // Remove default list styles
    padding: 0; // Remove padding
    margin: 0; // Remove margin
    display: flex; // Flex container
}

/* Styling for the li elements inside the nav */
nav li {
    margin-left: 20px; // Left margin
    transition: transform 0.2s ease-in-out; // Transition effect
}

/* Styling for the li elements on hover */
nav li:hover {
    transform: translateY(-3px); // Move element up on hover
}

/* Styling for the button elements inside the nav */
nav button {
    background: none; // Transparent background
    color: white; // Text color
    border: none; // Remove border
    font-size: 18px; // Font size
    cursor: pointer; // Cursor style
    padding: 5px 10px; // Padding
    border-radius: 5px; // Border radius
    transition: background-color 0.3s ease, color 0.3s ease; // Transition effects
}

/* Styling for the button elements on hover */
nav button:hover {
    background-color: rgba(255, 255, 255, 0.2); // Background color on hover
}

/* Styling for the active button */
nav .active button {
    color: #4c9aff; // Text color for active button
    border-bottom: 2px solid white; // Bottom border for active button
}

/* Responsive adjustments for screens with max width of 768px */
@media (max-width: 768px) {
    header {
        flex-direction: column; // Change flex direction to column
        padding: 20px; // Padding
    }

    nav ul {
        margin-top: 20px; // Top margin
    }

    nav li {
        margin: 10px 0; // Vertical margin
    }
}